@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{

    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    
}



a{

    color: gray;
    text-decoration: none;
    font-size: 18pt;

}

header{

    background-color: rgb(0, 251, 255);
}

header :hover{

    background-color: black;
}

li :hover{

    color: blue;

}


ul{

    /* Coloca o elemento um do lado do outro*/
    display: flex;
    /*Distribui o espaço ao redor ndo elemento*/
    justify-content: space-around;
    /*Elimina o estilo da lista*/
    list-style: none;
    padding: 50px 200px;


}


img{


    width: 200px;
    height: 200px;
    border-radius: 100px;
}

main{

    text-align: center;
}

main p{

    text-align: justify;
    margin: 0px 50px 0px 50px;

}
.rodape{

    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 20px;
    margin-left: 400px;
    margin-top: 50px;
}